.example-spacer {
  flex: 1 1  auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}
.imgclass {
  height: 70px;
  width: 100px;

  @media (max-width: 768px) {
    height: 70px; /* Adjust for smaller screens */
    width: 70px;
  }
}

mat-toolbar {
  height: 90px; /* Base height */

  @media (max-width: 768px) {
    height: 60px; /* Adjusted height for smaller screens */
  }
}